<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="icon" href="/image/weather.png">
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>It is weather forecast web application , created By Ankit. It uses Geocoding and webstack api's to display the
      forecast.</p>
    <img class="potrait " src="/image/myPicNew.jpeg" alt="" />
  </div>

  {{>footer}}
</body>

</html>